@inherits LayoutComponentBase

@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <button class="btn" @onclick="Logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </button>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {

    private async Task Logout()
    {
        var authStateProviderService = (AuthStateProviderService)authenticationStateProvider;
        await authStateProviderService.LogoutAsync();
        navigationManager.NavigateTo("/auth/login");
    }

}